.mace {
  .header-details {
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4rem;

    &_right {
      width: 45rem;

      li {
        margin-bottom: .5rem;
      }
    }
  }

  &-about {
    margin-bottom: 4rem;
  }

  &-statement {
    margin-bottom: 4rem;
  }

  &-goals {
    margin-bottom: 4rem;

    ul li {
      font-size: 1.4rem;
      margin-left: 2rem;
    }
  }

  &-userflow {
    margin-bottom: 4rem;

    & img {
      width: 70vw;
      margin: 2rem 0;
      object-fit: cover;
    }
  }

  &-wireframe {
    margin-bottom: 4rem;

    .image-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      row-gap: 5rem;

      img {
        width: 35rem;
      }
    }
  }

  &-design {
    margin-bottom: 4rem;

    .image-container {
      gap: 15rem;

      img {
        width: 25rem;
      }

      .right {
        flex-direction: column;
        gap: 3rem;
      }
    }
  }

  &-color {
    margin-bottom: 4rem;

    &_content {
      gap: 2rem;
    }

    &_content-box {
      width: 40rem;
      height: 10rem;
      background: #00C2FF;
      margin-top: 1rem;
    }
  }

  &-visual {
    &_image {
      img {
        width: 70vw;
        margin: 2rem 0;
      }
    }

    .isave-visual_card:nth-of-type(3) {
      .isave-visual_card-img {
        justify-content: space-between;

        img {
          width: 40rem;
        }
      }
    }
  }
}

@media (max-width: 1300px) {
  .mace {
    &-wireframe {
      .image-container {
        img {
          width: 20vw;
        }
      }
    }

    &-visual {
      .isave-visual_card:nth-of-type(3) {
        .isave-visual_card-img {
          img {
            width: 30rem;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .mace {
    &-wireframe {
      .image-container {
        grid-template-columns: repeat(1, 1fr);
        place-items: center;

        img {
          width: 30rem;
        }
      }
    }
    &-visual {
      .isave-visual_card:nth-of-type(3) {
        .isave-visual_card-img {
          flex-direction: column;
          gap: 3rem;
          img {
            width: 30rem;
          }
        }
      }

      .isave-visual_card:nth-of-type(4) {
        .isave-visual_card-img {
          img {
            width: 30rem;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .mace {
    .header-details {
      flex-direction: column;

      &_right {
        width: 100vw;
      }
    }

    &-goals {
      ul li {
        font-size: 1.1rem;
      }
    }

    &-design {
      .image-container {
        flex-direction: column;
        gap: 5rem;
      }
    }

    &-color {
      &_content {
        flex-direction: column;
      }

      &_content-box {
        width: 30rem;
        height: 7rem;
      }
    }
  }
}

@media (max-width: 500px) {
  .mace {
    &-wireframe {
      .image-container {
        img {
          width: 22rem;
          margin-left: 0;
        }
      }
    }
    &-visual {
      .isave-visual_card:nth-of-type(3) {
        .isave-visual_card-img {
          flex-direction: column;
          gap: 3rem;
          img {
            width: 22rem;
          }
        }
      }

      .isave-visual_card:nth-of-type(4) {
        .isave-visual_card-img {
          img {
            width: 22rem;
          }
        }
      }
    }
  }
}