.mace {
  .header-details {
    justify-content: space-between;
    margin-bottom: 4rem;

    &_right {
      width: 45rem;

      li {
        margin-bottom: .5rem;
      }
    }
  }

  &-about {
    margin-bottom: 4rem;
  }

  &-statement {
    margin-bottom: 4rem;
  }

  &-goals {
    margin-bottom: 4rem;

    ul li {
      margin-left: 2rem;
    }
  }

  &-userflow {
    margin-bottom: 4rem;

    & img {
      width: 70vw;
      margin: 2rem 0;
      object-fit: cover;
    }
  }

  &-wireframe {
    margin-bottom: 4rem;
    
    .image-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      row-gap: 5rem;

      img {
        width: 35rem;
      }
    }
  }
}