.maclassics {
  h4 {
    font-size: 2.8rem;
    margin: .8rem 0;
    }

  p {
    text-transform: capitalize;
    font-size: 1.6rem;
    text-align: justify;
    line-height: 1.4;
    margin-bottom: .5rem;
  }
    
  .gen-details {
    justify-content: space-between;
    gap: 2rem;
    align-items: flex-start;

    &-left {
      flex: 50%;
      gap: 1.5rem;
    }

    &-left,
    &-right {
      flex: 50%;
    }
  }

  .details-img {
    margin: 5rem 0;

    img {
      width: 70rem;
      height: auto;
      object-fit: cover;
    }
  }

  .gen-details-wireframe {
    .image-container {
      display: flex;
      justify-content: space-around;
      align-items: flex-start;

      img {
        width: 20rem;
        object-fit: cover;
      }
    }
  }

  .gen-details-design {
    &-images {
      margin:  2rem 0 5rem 0;

      &_top {
        justify-content: space-between;

        img {
          width: 30%;
          object-fit: cover;
        }
      }
    }
  }

  .gen-details-color {
    img {
      width: 25rem;
    }
  }

  .gen-details-visual {
    h5 {
      font-size: 1.5rem;
      font-style: italic;
      font-weight: 500;
      margin-bottom: .8rem;
    }

    &_process {
      ol {
        display: inline-block;
        margin-left: 1.5rem;

        li {
          font-weight: 500;
          font-size: 1.4rem;
        }
      }

      p {
      margin: 1.5rem 0;
      }

      .image-container {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }

  .gen-details-profile {
    .image-container {
      width: 100%;

      img {
        width: 27rem;
      }
    }
  }
}

// MEDIA QUERY
@media (max-width: 1300px) {
  .maclassics {
    .gen-details-visual {
      &_process {
        .image-container {
          display: grid;
          gap: 2rem;
          grid-template-columns: repeat(5, 1fr);
        }

        img {
          width: 15vw;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .maclassics {
    h4 {
      font-size: 2rem;
    }

    p {
      font-size: 1.3rem;
    }

    .gen-details-wireframe {
      .image-container {
        img {
          width: 15rem;
        }
      }
    }

    .gen-details-design {
      &-images {
        &_top {
          img {
            width: 25rem;
          }
        }

        &_bottom {
          img {
            width: 35rem;
          }
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .maclassics {
    .gen-details {
      flex-direction: column;

      &-left {
        flex: 100%;
        gap: 1.5rem;
      }

      &-left,
      &-right {
        flex: 100%;
      }
    }

    .details-img {
      img {
        width: 50rem;
      }
    }

    .gen-details-visual {
      .image-container:first-of-type {
        img {
          width: 50rem;
        }
      }

      &_process {
        .image-container:first-of-type {
          grid-template-columns: repeat(1, 1fr);
          place-items: center;
          place-content: center;

          img {
            width: 35vw;
            object-fit: cover;
          }
        }
      }
    }

    .gen-details-color {
      img {
        width: 25rem;
      }
    }

    .gen-details-wireframe {
      .image-container {
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        img {
          width: 35vw;

          &:nth-of-type(1) {
            margin-left: 2.5rem;
          }
        }
      }
    }

    .gen-details-design {
      &-images {
        &_top {
          flex-direction: column;
          gap: 2rem;
        }

        &_bottom {
          .image-container {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
              width: 50rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 598px) {
  .maclassics {
    h4 {
      font-size: 1.5rem;
    }

    p {
      font-size: 1.15rem;
    }

    .details-img {
      img {
        width: 75vw;
      }
    }

    .gen-details-design {
      &-images {
        &_bottom {
          .image-container {
            img {
              width: 70vw;
            }
          }
        }
      }
    }

    .gen-details-color {
      img {
        width: 25rem;
      }
    }

    .gen-details-visual {
      .image-container:first-of-type {
        img {
          width: 70vw;
        }
      }
    }

    .gen-details-profile {
    .image-container {
      img {
        width: 35vw;
      }
    }
  }
  }
}