.maclassics {
  .gen-details {
    justify-content: space-between;
    gap: 2rem;
    align-items: flex-start;

    &-left {
      flex: 50%;
      gap: 1.5rem;
    }

    &-left,
    &-right {
      flex: 50%;
    }
  }

  .details-img {
    margin: 5rem 0;

    img {
      width: 70rem;
      height: auto;
      object-fit: cover;
    }
  }

  .gen-details-wireframe {
    .image-container {
      img {
        width: 80vw;
        object-fit: cover;
      }
    }
  }

  .gen-details-design {
    &-images {
      margin:  2rem 0 5rem 0;

      &_top {
        justify-content: space-between;

        img {
          width: 30%;
          object-fit: cover;
        }
      }
    }
  }

  .gen-details-color {
    img {
      width: 25rem;
    }
  }

  .gen-details-visual {
    & .image-container:first-of-type {
      img {
        width: 40vw;
      }
    }

    &_process {
      ol {
        display: inline-block;
        margin-left: 2rem;
      }

      p {
      margin: .5rem 0;
      }

      .image-container {
        img {
          width: 80vw;
        }
      }
    }
  }

  .gen-details-profile {
    .image-container {
      width: 100%;

      img {
        width: 27rem;
      }
    }
  }
}

// MEDIA QUERY
@media (max-width: 1024px) {
  .maclassics {
    .gen-details-design {
      &-images {
        &_top {
          img {
            width: 25rem;
          }
        }

        &_bottom {
          img {
            width: 35rem;
          }
        }
      }
    }

    .gen-details-visual {
      & .image-container:first-of-type {
        img {
          width: 60vw;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .maclassics {
    .gen-details {
      flex-direction: column;

      &-left {
        flex: 100%;
        gap: 1.5rem;
      }

      &-left,
      &-right {
        flex: 100%;
      }
    }

    .details-img {
      img {
        width: 50rem;
      }
    }

    .gen-details-color {
      img {
        width: 25rem;
      }
    }

    .gen-details-design {
      &-images {
        &_top {
          flex-direction: column;
          gap: 2rem;
        }

        &_bottom {
          .image-container {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
              width: 50rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .maclassics {
    .gen-details-visual {
      & .image-container:first-of-type {
        img {
          width: 75vw;
        }
      }

      & .image-container:nth-of-type(2) {
        img {
          width: 70vw;
        }
      }
    }
  }
}

@media (max-width: 598px) {
  .maclassics {
    .details-img {
      img {
        width: 75vw;
      }
    }

    .gen-details-design {
      &-images {
        &_bottom {
          .image-container {
            img {
              width: 70vw;
            }
          }
        }
      }
    }

    .gen-details-color {
      img {
        width: 25rem;
      }
    }

    .gen-details-profile {
    .image-container {
      img {
        width: 45vw;
      }
    }
  }
  }
}