.isave {
  .header-details {
    justify-content: space-between;
    margin-bottom: 4rem;

    &_right {
      width: 45rem;
      li {
        margin-bottom: .5rem;
      }
    }
  }

  &-background {
    margin-bottom: 4rem;
  }

  &-statement {
    margin-bottom:4rem;

    ol li {
      margin-left: 2.5rem;
    }
  }

  &-userflow {
    margin-bottom: 4rem;

    & img {
      width: 70vw;
      margin: 2rem 0;
      object-fit: cover;
    }
  }

  &-wireframe {
    margin-bottom: 4rem;
    .image-container {
      gap: 5rem;
      align-items: flex-start;
    }
  }
}