.isave {
  .header-details {
    justify-content: space-between;
    margin-bottom: 4rem;

    &_right {
      width: 45rem;

      li {
        margin-bottom: .5rem;
      }
    }
  }

  &-background {
    margin-bottom: 4rem;
  }

  &-statement {
    margin-bottom:4rem;

    ol li {
      margin-left: 2.5rem;

      p {
        font-size: 1.2rem;
      }
    }
  }

  &-userflow {
    margin-bottom: 4rem;

    & img {
      width: 70vw;
      margin: 2rem 0;
      object-fit: cover;
    }
  }

  &-wireframe {
    margin-bottom: 4rem;
    .image-container {
      gap: 5rem;
      align-items: flex-start;
    }
  }

  &-visual {
    margin-bottom: 4rem;

    .image-container {
      gap: 5rem;
      align-items: flex-start;
    }

    &_card {
      h5 {
        font-size: 1.6rem;
        font-weight: 600;
        font-style: normal;
        margin-bottom: 1.8rem;
      }

      &-texts {
        p {
          margin-bottom: .6rem;
        }
      }

      &-img {
        margin: 4rem 0;
      }
    }
  }

  &-design {
    margin-bottom: 4rem;
  }

  &-color {
    margin-bottom: 4rem;
    &_box {
      width: 40rem;
      height: 10rem;
      background: #6764ff;
      margin-top: 1rem;
    }
  }

  &-icons {
    margin-bottom: 4rem;

    &_image {
      margin-top: 3rem;

      img {
        width: 60rem;
      }
    }
  }

  &-components {
    margin-bottom: 4rem;

    .image-container {
      margin-top: 3rem;

      img {
        width: 60rem;
      }
    }
  }
}

/* MEDIA QUERY  */
@media (max-width: 1300px) {
  .isave {
    &-visual {
      .image-container {
        img {
          width: 20rem;
        }
      }
    }
  }
}
@media (max-width: 1024px) {
  .isave {
    &-wireframe {
      margin-bottom: 4rem;
      .image-container {
        img {
          width: 15rem;
        }
      }
    }

    &-visual {
      .image-container {
        img {
          width: 15rem;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .isave {
    .header-details {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 4rem;

      &_right {
        width: 40rem;

        li {
          margin-bottom: .5rem;
        }
      }
    }

    &-wireframe {
      .image-container {
        flex-direction: column;
        align-items: center;

        img {
          width: 20rem;
        }
      }
    }

    &-visual {
      .image-container {
        flex-direction: column;
        align-items: center;
      }
    }

    &-color {
      &_box {
        width: 20rem;
        height: 6rem;
      }
    }

    &-icons {
      img {
        width: 35rem;
      }
    }

    &-components {
      .image-container {
        img {
          width: 40rem;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .isave {
    &-visual {
      &_card {
        h5 {
          font-size: 1.4rem;
          font-weight: 500;
        }

        &-img {
          img {
            width: 20rem;
          }
        }
      }
    }

    &-icons {
      img {
        width: 25rem;
      }
    }

    &-components {
      .image-container {
        img {
          width: 25rem;
        }
      }
    }
  }
}