.exquite {
  .header-details {
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4rem;

    &_right {
      width: 45rem;

      li {
        margin-bottom: .5rem;
      }
    }
  }

  &-about {
    margin-bottom: 4rem;
  }

  &-statement {
    margin-bottom: 4rem;
  }

  &-goals {
    margin-bottom: 4rem;

    ul li {
      font-size: 1.4rem;
      margin-left: 2rem;
    }
  }

  &-userflow {
    margin-bottom: 4rem;

    & img {
      width: 70vw;
      margin: 2rem 0;
      object-fit: cover;
    }
  }

  &-wireframe {
    margin-bottom: 4rem;

    .image-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      row-gap: 2rem;

      img {
        width: 28rem;
      }
    }
  }

  &-visual {
    .isave-visual_card:nth-of-type(1) {
      .isave-visual_card-img {
        gap: 2rem;
        img {
          width: 28rem;
        }
      }
    }

    .isave-visual_card:nth-of-type(3) {
      .isave-visual_card-texts {
        margin-bottom: 5rem;
        p ol li {
          margin-left: 2.5rem;
        }
      }

      .isave-visual_card-img {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;

        img {
          width: 28%;
        }
      }
    }
  }
}