.form-success {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  animation-duration: 2s;

  .form-text {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 3rem;
  }

  img {
    filter: none;
    width: 50vw;
    height: 50vw;
    border-radius: 10%;
    object-fit: cover;
  }
}

.contact {
  .title {
    margin-bottom: 3rem;
  }
  .para {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 4rem;
  }

  &-details {
    display: flex;
    justify-content: space-between;
    gap: 2rem;

    .form {
      flex: 5;
      padding: 4rem;
      gap: 2rem;
      background: var(--image-bg);

      &-card {
        display: flex;
        gap: 2rem;

        input {
          width: 50%;
          height: 5rem;
          padding: .5rem 1rem;
          border: none;
          box-shadow: none;
          border-radius: .5rem;
          
          &::placeholder {
            color: var(--text-dark);
          }

          &:focus {
            outline: .2rem solid var(--pry-color);
          }

        }
      }

      textarea {
        height: 15rem;
        resize: none;
        padding: .5rem 1rem;
        border: none;
        box-shadow: none;
        border-radius: .5rem;
        
        &::placeholder {
          color: var(--text-dark);
        }

        &:focus {
          outline: .2rem solid var(--pry-color);
        }
      }

      button {
        padding: 1.6rem 0;
        border: none;
        background: var(--pry-color);
        color: var(--white-color);
        font-size: 2.5rem;
        text-transform: uppercase;
        letter-spacing: .2rem;
        cursor: pointer;

        &:hover {
          background: var(--sec-color);
          transition: background .5s ease-out;
        }
      }
    }

    &-info {
      flex: 2;
      background: var(--image-bg);
      padding: 2rem;
      gap: 3rem;

      &_card {
        display: flex;
        gap: 1.5rem;
        // align-items: center;

        i {
          font-size: 2rem;
        }

        &-para {
          h5 {
            font-style: normal;
            font-size: 2rem;
            font-weight: 600;
            margin-bottom: .5rem;
          }

          p {
            font-size: 1.6rem;
          }
        }
      }
    }
  }

  .footer {
    text-align: center;
    margin-top: 3rem;
    text-transform: none;
    font-size: 1.6rem;
    text-shadow: var(--text-shadow);
  }
}

@media (max-width: 900px) {
  .contact {
    p {
      font-size: 1.6rem;
    }

    &-details {
      flex-direction: column;
    }
  }
}

@media (max-width: 768px) {
  .form-success {
    .form-text {
      font-size: 1.8rem;
    }
    img {
      width: 70vw;
      height: 70vw;
    }
  }


  .contact {
    &-details {
      .form {
        padding: 1.2rem;

        &-card {
          flex-direction: column;

          input {
            width: 100%;
          }
        }

        button {
          padding: 1rem 0;
          font-size: 1.8rem;
        }
      }

      &-info {
        &_card {
          &-para {
            h5 {
              font-size: 1.6rem;
            }
            p {
              font-size: 1.4rem;
            }
          }
        }
      }
    }
  }
}