header {
  margin-bottom: 5rem;

  p {
    margin-bottom: 4rem;
    font-size: 2.5rem;
    font-weight: 400;
    font-family: var(--pry-font);
  }

  span {
    font-family: var(--sec-font);
    font-size: 5rem;
    color: var(--sec-color);
    letter-spacing: .1rem;
    font-size: 3rem;
    font-weight: 700;
    text-shadow: var(--text-shadow);
  }

  .resume {
    display: inline-block;
    font-size: 2rem;
    letter-spacing: .3rem;
    color: var(--dark-color);
    font-weight: 500;
    position: relative;
    width: 100%;
    text-align: end;
    text-decoration: underline;

    &:hover {
      color: var(--pry-color);
      transition: all .5s ease;
    }
  }
}

.project-summary {
  display: flex;
  align-items: center;
  gap: 20rem;
  margin-bottom: 10rem;

  &.reverse {
    flex-direction: row-reverse;
  }

  &-image {
    width: 45rem;
    border-radius: .5rem;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-text {
    width: 65rem;
    gap: 2rem;

    &-tag {
      text-transform: capitalize;
      font-size: 1.6rem;
    }

    &-title {
      font-family: var(--sec-font);
      font-size: 4rem;
      font-weight: 800;
      text-transform: capitalize;
    }

    &-para {
      font-family: var(--pry-font);
      font-size: 2.3rem;
      font-weight: 400;
      text-align: justify;
      opacity: .8;
      line-height: 1.4;
    }
  }
}

// MEDIA QUERY 
@media (max-width: 1024px) {
  header {
    p {
      font-size: 1.8rem;
      font-weight: 500;
    }
    span {
      font-size: 3rem;
    }

    .resume {
      font-size: 1.6rem;
    }
  }

  .project-summary {
    gap: 10rem;
    margin-bottom: 5rem;

    &-image {
      width: 60vw;
      height: auto;
    }

    &-text {
      width: 90vw;
      gap: 2rem;

      &-tag {
        font-size: 1.4rem;
      }

      &-title {
        font-size: 2.2rem;
        letter-spacing: .3rem;
      }

      &-para {
        font-size: 2.1rem;
      }
    }
  }
}

@media (max-width: 768px) {
  header {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.4;

    span {
      font-size: 2rem;
    }

    .resume {
      font-size: 1.4rem;
    }
  }

  .project-summary {
    flex-direction: column-reverse;
    gap: 0;

    &.reverse {
      flex-direction: column-reverse;
    }

    &-image {
      margin-top: 5rem;
    }
  }
}