.topmost {
  .header-details {
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 4rem;
  }

  &-about {
    margin-bottom: 4rem;
  }

  &-statement {
    margin-bottom: 4rem;
    ul li {
      margin: 1.5rem 0 0 2rem;
    }
  }

  &-goals {
    margin-bottom: 4rem;
    ul li {
      margin: 1.5rem 0 0 2rem;
    }
  }

  &-users-personas {
    margin-bottom: 4rem;

    &_card {
      justify-content: space-between;
      gap: 1.5rem;
      align-items: center;

      &-content {
        flex-basis: 50%;
        border: .2rem solid var(--box-color);
        height: 45rem;
        gap: 3rem;

        &_top {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 2rem;

          img {
            width: 30rem;
            filter: none;
          }

          &-texts {
            gap: 1rem;

            p span:nth-of-type(1) {
              font-size: 1.8rem;
              font-weight: 700;
            }
            p span:nth-of-type(2) {
              font-size: 1.5rem;
              font-weight: 400;
            }
          }
        }

        &_bottom {
          padding: 0 2rem;
          p {
            font-size: 1.8rem;
            text-align: center;
            font-weight: 700;
          }
        }
      }
    }
  }

  &-wireframe {
    margin-bottom: 4rem;
    &-img {
      margin-top: 3rem;
      img {
        width: 40rem;
      }
    }
  }

  &-virtual {
    h5 {
      margin-bottom: 1.5rem;
      font-style: normal;
    }

    &_content-column {
      // align-items: flex-start;
      justify-content: space-between;
      gap: 2rem;
      margin-bottom: 6rem;

      &_text {
        flex: 1;
        max-width: 50vw;
      }

      &_image {
        width: 45rem;
        img {
          width: 100%;
          object-fit: cover;
        }
      }
    }

    &_filter-section {
      display: flex;
      justify-content: space-between;

      &_text {
        flex-basis: 40%;
        max-width: 50rem;

        p {
          margin: .5rem 0;
        }

        ul {
          margin-left: 2rem;
        }
      }

      &_image {
        flex-basis: 60%;

        & .image-container {
          display: flex;
          gap: 1.5rem;
          align-items: flex-start;
          justify-content: center;

          img {
            width: 45%;
          }
        }
      }
    }
  }
}