.topmost {
  .header-details {
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 3rem;
  }

  &-about {
    margin-bottom: 3rem;
  }

  &-statement {
    margin-bottom: 3rem;
    ul li {
      margin: 1.5rem 0;
    }
  }

  &-goals {
    margin-bottom: 3rem;
    ul li {
      
    }
  }
}