.npay {
  .header-details {
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 5rem;
  }

  &-about {
    margin-bottom: 4rem;
  }

  &-statement {
    margin-bottom: 4rem;
    
    ol {
      margin-left: 2rem;
    }
  }
}