.npay {
  .header-details {
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 5rem;
  }

  &-about {
    margin-bottom: 4rem;
  }

  &-statement {
    margin-bottom: 4rem;

    ol {
      margin-left: 2rem;
    }
  }

  &-goals {
    margin-bottom: 4rem;
    
    p {
      margin-bottom: 1.5rem;
    }
  }

  &-design {
    margin-bottom: 4rem;

    p {
      margin: 2rem 0;
      font-size: 1.8rem;
    }

    &_persona {
      justify-content: space-between;
      
      &-left,
      &-right {
        flex-basis: 35vw;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  &-userflow {
    margin-bottom: 4rem;

    & img {
      width: 70vw;
      margin: 2rem 0;
      object-fit: cover;
    }
  }

  &-wireframe {
    margin-bottom: 4rem;

    .image-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      row-gap: 2rem;

      img {
        width: 28rem;
      }
    }
  }

  &-color {
    margin-bottom: 4rem;

    &_box {
      align-self: center;
      margin: 2rem 0;
      position: relative;

      img {
        width: 30vw;
      }

      &::before {
        content: "Primary";
        position: absolute;
        bottom: -50%;
        left: 1rem;
        font-size: 2rem;
      }
      &::after {
        content: "Secondary";
        position: absolute;
        bottom: -50%;
        right: 1rem;
        font-size: 2rem;
      }
    }
  }

  &-visual {
    .isave-visual_card:nth-of-type(4) {
      margin-top: 10rem;

      .isave-visual_card-img {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 1.5rem;
        img {
          width: 20vw;
        }
      }
    }
  }
}