.npay {
  .header-details {
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 5rem;
  }

  &-about {
    margin-bottom: 4rem;
  }

  &-statement {
    margin-bottom: 4rem;

    ol {
      margin-left: 2rem;
    }
  }

  &-goals {
    margin-bottom: 4rem;
    
    p {
      margin-bottom: 1.5rem;
    }
  }

  &-design {
    margin-bottom: 4rem;

    p {
      margin: 2rem 0;
      font-size: 1.8rem;
    }

    &_persona {
      justify-content: space-between;
      
      &-left,
      &-right {
        flex-basis: 35vw;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}