* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* SPECIAL CLASSES */
:root {
  --pry-font: 'League Spartan', sans-serif;
  --sec-font: 'Montserrat', sans-serif;
}

.light-theme {
  --pry-color: rgb(164, 92, 255);
  --sec-color: rgb(0, 0, 199);
  --dark-color: rgb(52, 52, 52);
  --white-color: rgb(255, 255, 255);
  --text-dark: rgb(50, 75, 76);
  --box-color: rgb(217, 217, 217);
  --image-bg:rgb(241, 241, 241);
  --text-shadow: 2px 2px 2px rgba(0,0,0,.2);
  --image-shadow: drop-shadow(2px 2px 15px rgba(0,0,0,.35));
  --pry-box-shadow: rgba(0,0,0,.24) 0px 3px 8px;
  --bg-color: rgb(232, 255, 255);
  --pry-font: 'League Spartan', sans-serif;
  --sec-font: 'Montserrat', sans-serif;
}

.dark-theme {
  --pry-color: rgb(91, 163, 0);
  --sec-color: rgba(255, 255, 56);
  --dark-color: rgb(203, 203, 203);
  --white-color: rgb(0,0,0);
  --text-dark: rgb(205, 180, 179);
  --box-color: rgb(38, 38, 38);
  --image-bg:rgb(33, 33, 33);
  --text-shadow: 2px 2px 2px rgba(255, 255, 255, .2);
  --image-shadow: drop-shadow(2px 2px 15px rgba(255,255,255,.35));
  --pry-box-shadow: rgba(255, 255, 255, .24) 0 3px 8px;
  --bg-color: rgb(23, 0, 0);
}

body {
  font-family: var(--sec-font);
  line-height: 1.2;
  color: var(--dark-color);
  overflow-x: hidden;
  background: var(--bg-color);
  transition: all .5s ease-out;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-flex {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1536px;
  margin: 0 auto;
  padding: 2rem;
}

.toggle-btn {
  display: inline-block;
  padding: 1rem 1.5rem;
  margin-bottom: 2rem;
}

img {
  filter: var(--image-shadow);
}

a {
  text-decoration: none;
  border: none;
}

.title {
  font-size: 4.2rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .3rem;
  margin-bottom: 3rem;
  text-shadow: var(--text-shadow);
}

.btn {
  width: 20rem;
  height: 5rem;
  background-color: var(--sec-color);
  color: var(--white-color);
  border-radius: 4rem;
  box-shadow: var(--pry-box-shadow);
  font-size: 2.2rem;
  font-weight: 500;
  font-family: var(--sec-font);
  text-transform: capitalize;
  letter-spacing: .2rem;
  transition: all .5s;
}

.btn:hover {
  color: var(--pry-color);
  background-color: var(--white-color);
  transform: translateY(-.3rem);
}

.project-header {
  font-family: var(--sec-font);
  font-size: 4rem;
  font-weight: 700;
  text-align: justify;
  line-height: 1.4;
  margin-bottom: 8rem;
}

h4 {
    font-size: 2.8rem;
    margin: .8rem 0;
    text-transform: capitalize;
  }

h5 {
  font-size: 1.45rem;
  text-transform: capitalize;
  font-style: italic;
}

p {
  /* text-transform: capitalize; */
  font-size: 1.6rem;
  text-align: justify;
  line-height: 1.4;
  margin-bottom: .5rem;
}

.image-container {
  height: max-content;
  margin: 2rem 0 5rem 0;
  padding: 3rem 4rem;
  background-color: var(--image-bg);
}

footer {
  font-family: var(--pry-font);
  font-size: 10rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 4rem;
  text-shadow: var(--text-shadow);
}

/* NAVBAR */


/* MEDIA QUERY  */
@media (max-width: 1024px) {
  .container {
    max-width: 100vw;
    width: 100vw;
    padding: 3.4rem;
  }

  .title {
    font-size: 3rem;
  }

  .btn {
    width: 18rem;
    height: 5rem;
    font-size: 1.8rem;
  }

  .project-header {
    font-size: 2rem;
  }

  h4 {
      font-size: 2rem;
    }

  h5 {
    font-size: 1.35rem;
    text-transform: capitalize;
    font-weight: 600;
    font-style: italic;
  }

  p {
    font-size: 1.3rem;
  }

  footer {
    font-size: 7rem;
  }
}

@media (max-width: 900px) {
  .project-header {
    line-height: 1.2;
    text-align: center;
    margin-bottom: 5rem;
  }

  .image-container {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 2.4rem;
  }
}

@media (max-width: 598px) {
  .project-header {
    font-size: 1.7rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.15rem;
    font-weight: 600;
    font-style: italic;
    text-transform: capitalize;
  }

  p {
    font-size: 1.15rem;
  }

  footer {
    font-size: 3rem;
  }
}