* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* SPECIAL CLASSES */
:root {
  --text-shadow: 2px 2px 2px rgba(0,0,0,.2);
  --pry-box-shadow: rgba(0,0,0,.24) 0px 3px 8px;
  --sec-box-shadow: rgba(17,17,26,0.05) 0px 4px 16px, rgba(17,17,26,0.05) 0px 8px 32px;
  --pry-color: rgb(164, 92, 255);
  --pry-dark-color: rgb(0, 0, 199);
  --dark-color: rgb(52, 52, 52);
  --white-color: rgb(255, 255, 255);
  --text-dark: rgb(50, 75, 76);
  --pry-font: 'League Spartan', sans-serif;
  --sec-font: 'Montserrat', sans-serif;
}

body {
  font-family: var(--sec-font);
  line-height: 1.2;
  color: var(--dark-color);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-flex {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1536px;
  margin: 0 auto;
  padding: 2rem;
}

a {
  text-decoration: none;
  border: none;
}

.title {
  font-size: 4rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .3rem;
  margin-bottom: 3rem;
}